{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 

<title>Kabab National Bank</title>
{% if request.user.is_authenticated %}
<div class="loggoIn">
    <a href="{% url 'home-view' %}"><img src="{% static 'assets/logo.png' %}" class="logoIn"></a>
    </div>
{% else %}
    <div class="loggo">
        <a href="{% url 'home-view' %}"><img src="{% static 'assets/logo.png' %}" class="logo"></a>
        </div>
{% endif %}
    {% if request.user.is_authenticated %}
<div class="UserWelc">
    <h1> Welcome <p>{{request.user.username}}</p> </h1>
</div>
{% endif %}
</head>
<body>
    <section class="header">
        {% if request.user.is_authenticated %}
        <nav>

            <div class="cont-pages" id="pgs">  
                <i class="fa fa-close" onclick="hideBar()"></i>
                <ul>

                    <li><a href="{% url 'home-view' %}">Home</a></li>
                 
                    <li><a href="{% url 'balance.html' %}">Check Balance</a></li>

                    <li><a href="{% url 'deposit-view' %}">Deposit</a></li>

                    <li><a href="{% url 'withdraw.html' %}">Withdraw</a></li>

                    <li><a href="{% url 'logout' %}">Logout</a></li>
                
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showBar()"></i>
        </nav>
        
        {% endif %}
        <div class="txt-title">
            <h1>Kabab National Bank</h1>
            <p>You're Poorer Than You Think!</p>
            {% if request.user.is_authenticated %}
                <a href="{% url 'balance.html' %}" class="hero-btn">Check Your Balance</a>
            {% else %}
                <a href="{% url 'home-view' %}" class="hero-btn">KNB</a>
            {% endif %}
        </div>
    </section>
    

    
    {% block content %}
    {% endblock content %}


    
<!------ Outro ------>

<section class="outro">
    
       <h1>KNB</h1>
       <p><span style="color: ecba16">Food</span> taste healthier, when you're <span style="color: ecba16">richer</span></p>
        <a href="{% url 'home-view' %}" class="hero-btn">Home</a>
    
</section>    
 
<!-------- footer ---------->

<section class="footer">
        <h4>Created By</h4>
        <p>Mahmood Aljeboory <br>
        Ahmed Thaer <br>
    Abdullah Kaddura <br>
    Barrington Thorp </p>
        <div class="icons">
            <a href="https://github.com/Muhaa11/KNB"><i class="fa fa-github"></i></a>
            
        </div>
</section>    
  
  
<!----JavaScript for toggle menu---->
<script>
    var pgs = document.getElementById("pgs");

    function showBar() {
        pgs.style.left = "0";
    }

    function hideBar() {
        pgs.style.left = "-300px";
    }
</script> 
    
</body>
</html>







