{% extends 'base.html' %}
{% load static %}


{% block content %}
<!------- Deposit content -------->
    
<section class="deposit">

        <div class="row">
            <div class="deposit-col">
               
                <h2>{% for account in Truebalance %}
                    {{account.username}}
                    {% endfor %}</h2>
                <br><br><br>

                <form method="POST" >
                {% csrf_token %}
                {{ form }}
            <input id="number" type="number" name="number" placeholder="Deposit amount" min="1">
            <button type="submit" class="hero-btn sbmt">Deposit</button>
            </form> 
            </div>

            <div class="deposit-col">
                <img src="{% static 'assets/deposit.jpg' %}">
            </div>

        </div>    
</section>

{% endblock %}

